#main-nav .container {
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}

#main-nav ul {
    justify-self: center;
}

#main-nav .logo {
    justify-self: center;
    margin-left: 4rem
}

#main-nav ul li a {
    padding: 0.5rem;
}

#menu .menu-container {
    grid-template-columns: repeat(2, 1fr);
}

/* Login Section  */
.contact-form {
    max-width: 300px;
    margin-bottom: 5rem;
  }
  

@media(max-width:600px) {
    /* Stack Grid Items */
    #menu .menu-container,
    #main-footer .footer-container {
        grid-template-columns: 1fr;
    }
    #main-footer .footer-container > *:last-child {
        grid-column: 1;
    }
    #main-footer .footer-container > * {
        padding-bottom: 1rem;
    }

    /* Login Section */
    /* .contact-form {
        max-width: 250px;
      } */
      

}